h1 {
  color: var(--text-heading);
  font: 700 1.75rem/normal var(--font-family-baloo);
}

legend span {
  font: var(--text-title);
  color: var(--text-heading);
}

label {
  font: var(--text-sm);
  color: var(--text-body);
}

.input-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

