h1 {
  color: var(--text-heading);
  font: 700 1.75rem/normal var(--font-family-baloo);
  margin-bottom: 2.5rem; /* 40px */
}

legend span {
  font: var(--text-title);
  color: var(--text-heading);
}

label {
  font: var(--text-sm);
  color: var(--text-body);
}